@page "/cadastro"
@inject IFuncionarioService FuncionarioService
@inject IGestorService GestorService
@inject IDepartamentoService DepartamentoService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@implements IDisposable


<PageTitle>Cadastro</PageTitle>

<div class="container d-flex flex-column align-items-center flex-wrap">
    <h3>Cadastro</h3>
    <EditForm Model="usuario" OnValidSubmit="HandleCadastro">
        <DataAnnotationsValidator />
        <div class="mb-3">
            <label for="nomeCompleto">Nome Completo</label>
            <InputText id="nomeCompleto" @bind-Value="usuario.NomeCompleto" class="form-control"></InputText>
            <ValidationMessage For="@(() => usuario.NomeCompleto)" />
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="username">Username</label>
                <InputText id="username" @bind-Value="usuario.Username" class="form-control"></InputText>
                <ValidationMessage For="@(() => usuario.Username)" />
            </div>
            <div class="col">
                <div class="col">
                    <label for="cpfFuncionario">CPF</label>
                    <InputText id="cpfFuncionario" @bind-Value="usuario.CPF" onkeypress="$(this).mask('000.000.000-00')" class="form-control" pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}"></InputText>
                    <ValidationMessage For="@(() => usuario.CPF)" />
                </div>
            </div>
            @if (usuario.TipoDeUsuario == RolesUsuario.Funcionario)
            {
                <div class="col">
                    <label for="matricula">Matricula <small>(Opcional)</small></label>
                    <InputText id="matricula" @bind-Value="usuario.Matricula" class="form-control"></InputText>
                </div>
            }
        </div>
        <div class="mb-3">
            <label for="password">Senha</label>
            <InputText id="password" @bind-Value="usuario.Password" class="form-control" type="password"></InputText>
            <ValidationMessage For="@(() => usuario.Password)" />
        </div>
        <div class="mb-3">
            <label for="confirmPassword">Confirmar senha</label>
            <InputText id="confirmPassword" @bind-Value="usuario.ConfirmPassword" class="form-control" type="password"></InputText>
            <ValidationMessage For="@(() => usuario.ConfirmPassword)" />
        </div>


        @if (usuario.TipoDeUsuario == RolesUsuario.Funcionario)
        {
            <label for="departamentoFuncionario">Departamento</label>
            <InputSelect id="departamentoFuncionario" class="form-select" @bind-Value="usuario.Departamento.Id">
                <option value="0">Selecione</option>
                @foreach (var departamento in departamentos)
                {
                    <option value="@departamento.Id"> @departamento.Descricao </option>
                }
            </InputSelect>
        }

        <div class="col mt-3">
            <InputRadioGroup id="escolhaTipoDeUsuario" @bind-Value="usuario.TipoDeUsuario">
                <InputRadio Value="RolesUsuario.Gestor" /> @RolesUsuario.Gestor.ToString()
                <InputRadio Value="RolesUsuario.Funcionario" /> @RolesUsuario.Funcionario.ToString()
            </InputRadioGroup>

            <div class="float-end">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>

        <div class="text-danger">
            <span>@mensagemErro</span>
        </div>

    </EditForm>
</div>
@if (carregando)
{
    <div class="modal-overlay">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
            </div>
        </div>
    </div>
}
@code {
    CadastroUsuario usuario = new();

    List<Departamento> departamentos = new();

    private string mensagemErro = string.Empty;
    private bool carregando = false;

    protected override async Task OnInitializedAsync()
    {
        DepartamentoService.DepartamentosChanged += StateHasChanged;
        usuario.Departamento = new Departamento() { Id = 0 };
        var result = await DepartamentoService.ObterDepartamentos();
        if (result.IsSuccess)
            departamentos = result.Value.ToList();
    }

    public void Dispose()
    {
        DepartamentoService.DepartamentosChanged -= StateHasChanged;
    }

    private async Task HandleCadastro()
    {
        ServiceResponse<int> result = new() { Sucesso = false };

        //Início - Bloco de cadastro
        carregando = true;

        bool confirma = false;
        if (usuario.TipoDeUsuario == RolesUsuario.Gestor)
            confirma = await JSRuntime.InvokeAsync<bool>("confirm", "Deseja se cadastrar como gestor?\nVocê não conseguirá criar viagens e precisará entrar em contato com o administrador para liberar seus acessos.");
        else
        {
            if (usuario.Departamento is null || usuario.Departamento.Id == 0)
            {
                await JSRuntime.InvokeVoidAsync("alert", "Por favor escolha o seu departamento.");
                carregando = false;
                return;
            }
            
            confirma = await JSRuntime.InvokeAsync<bool>("confirm", "Deseja prosseguir com o cadastro?");
        }
        

        if (usuario.TipoDeUsuario == RolesUsuario.Gestor)
        {
            if (!confirma)
            {
                carregando = false;
                return;
            }
            usuario.Departamento = null;
            result = await GestorService.Cadastrar(usuario);
        }
        else
        {
            if (!confirma)
            {
                carregando = false;
                return;
            }

            if (usuario.Departamento is not null && usuario.Departamento.Id == 0)
                usuario.Departamento = null;
            result = await FuncionarioService.Cadastrar(usuario);
        }


        carregando = false;
        //Fim - Bloco de cadastro

        if (result.Sucesso)
        {
            mensagemErro = string.Empty;
            //Console.WriteLine($"Cadastrar usuario com {usuario.Username}.");
            await JSRuntime.InvokeVoidAsync("alert", "Dados salvos com sucesso!");
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            //mensagemErro = result.Mensagem;
            await JSRuntime.InvokeVoidAsync("alert", $"Erro! {mensagemErro}");
        }
    }
}
