@inject IDespesasService<DespesaHospedagemDTO> DespesaHospedagemService
@inject IViagemService ViagemService
@inject IEnderecoService EnderecoService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@implements IDisposable

<PageTitle>@AdicionarOuEditar - Despesa com Hospedagem</PageTitle>


<div class="modal-header">
    <h5 class="modal-title">@AdicionarOuEditar Despesa</h5>
    <button type="button" class="close" @onclick="FecharFormulario">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <EditForm Model="Despesa" OnValidSubmit="HandleDespesa">
        <DataAnnotationsValidator />
        <div class="form-group row">
            <div class="col">
                <label for="NomeDespesa">Nome da Despesa</label>
                <InputText id="NomeDespesa" class="form-control" @bind-Value="Despesa.NomeDespesa" />
                <ValidationMessage For="@(() => Despesa.NomeDespesa)" />
            </div>
            <div class="col-auto">
                <label for="DataDespesa">Data da Despesa</label>
                <InputDate id="DataDespesa" style="max-width:12rem" class="form-control" @bind-Value="Despesa.DataDespesa" />
                <ValidationMessage For="@(() => Despesa.DataDespesa)" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="DescricaoDespesa">Descrição da Despesa</label>
                <InputTextArea id="DescricaoDespesa" class="form-control" @bind-Value="Despesa.DescricaoDespesa" />
                <ValidationMessage For="@(() => Despesa.DescricaoDespesa)" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="Logradouro">Logradouro</label>
                <InputText id="Logradouro" class="form-control" @bind-Value="Despesa.Logradouro" />
                <ValidationMessage For="@(() => Despesa.Logradouro)" />
            </div>
            <div class="col-auto" style="max-width: 5rem">
                <label for="NumeroCasa">Nº</label>
                <InputNumber id="NumeroCasa" class="form-control" @bind-Value="Despesa.NumeroCasa" />
                <ValidationMessage For="@(() => Despesa.NumeroCasa)" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="Cidade">Cidade</label>
                <InputText id="Cidade" class="form-control" @bind-Value="Despesa.Cidade" />
                <ValidationMessage For="@(() => Despesa.Cidade)" />
            </div>
            <div class="col">
                <label for="Estado">Estado</label>
                <InputText id="Estado" class="form-control" @bind-Value="Despesa.Estado" />
                <ValidationMessage For="@(() => Despesa.Estado)" />

            </div>
            <div class="col">
                <label for="CEP">CEP</label>
                <InputText id="CEP" class="form-control" onkeypress="$(this).mask('00000-000')" @bind-Value="Despesa.CEP" />
                <ValidationMessage For="@(() => Despesa.CEP)" />

            </div>
        </div>
        <div class="form-group row">
            <div class="col-auto">
                <label for="ValorDiaria">Diária (R$)</label>
                <input id="ValorDiaria" class="form-control" type="number" min="0.00" max="10000.00" step="0.01" style="max-width:6rem" @bind="Despesa.ValorDiaria" />
            </div>
            <div class="col-auto">
                <label for="QuantidadeDias">Quantidade de dias</label>
                <InputNumber id="QuantidadeDias" class="form-control" style="max-width:5rem" @bind-Value="Despesa.QuantidadeDias" />
                <ValidationMessage For="@(() => Despesa.QuantidadeDias)" />

            </div>
        </div>

        <div class="form-group row">
            <div class="col-auto">
                <label for="Recibo" class="form-label">Recibo</label>
                <input class="form-control" type="file" id="Recibo">
            </div>
        </div>

        <div style="float:right;">
            <button type="button" class="btn btn-secondary mx-2" @onclick="FecharFormulario">
                <span>Cancelar</span>
            </button>

            <AuthorizeView Context="authorizeViewContext" Roles="Funcionario">
                @if (viagem.StatusViagem == StatusViagem.EmAndamento)
                {
                    <button type="submit" class="btn btn-primary">
                        <span>@AdicionarOuEditar</span>
                    </button>
                }
            </AuthorizeView>

        </div>
    </EditForm>
</div>


@code {
    [Parameter]
    public int IdDespesa { get; set; }
    [Parameter]
    public int IdViagem { get; set; }
    private bool Adicionar = true;
    private string AdicionarOuEditar = "Adicionar";
    private ViagemDTO viagem = new();

    //[Parameter]
    private DespesaHospedagemDTO Despesa { get; set; } = new();
    //[Parameter]
    //private Endereco Endereco { get; set; } = new();
    [Parameter]
    public EventCallback FormularioFechado { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DespesaHospedagemService.DespesasChanged += StateHasChanged;
        viagem = await ViagemService.GetViagem(IdViagem);

        if (IdDespesa > 0)
        {
            Adicionar = false;
            await GetDespesaHospedagem();
        }

        if (!Adicionar) AdicionarOuEditar = "Editar";
    }

    public void Dispose()
    {
        DespesaHospedagemService.DespesasChanged -= StateHasChanged;
    }

    private async Task FecharFormulario()
    {
        await FormularioFechado.InvokeAsync();
    }

    private async Task GetDespesaHospedagem()
    {
        var response = await DespesaHospedagemService.GetDespesa(IdDespesa);
        if (!response.IsSuccess)
            await JSRuntime.InvokeVoidAsync("alert", $"{response.Error}");

        Despesa = response.Value;

        //await EnderecoService.GetEndereco(Despesa.IdEndereco);
        //Endereco = EnderecoService.Endereco;
    }

    private async Task HandleDespesa()
    {   /*
    Despesa.IdViagem = IdViagem;
    if (IdDespesa > 0)
    await DespesaHospedagemService.AtualizarDespesa(Despesa);
    else
    await DespesaHospedagemService.AdicionarDespesa(Despesa);

    await JSRuntime.InvokeVoidAsync("alert", $"Dados salvos com sucesso!");
    await FecharFormulario();
    */

        try
        {
            Result<DespesaHospedagemDTO> despesa = new();
            Despesa.IdViagem = IdViagem;

            //if (Adicionar)
            if (Adicionar && await JSRuntime.InvokeAsync<bool>("confirm", "Deseja prosseguir com o cadastro?"))
                despesa = await DespesaHospedagemService.AdicionarDespesa(Despesa);
            //else
            else if (await JSRuntime.InvokeAsync<bool>("confirm", "Deseja salvar as alterações?"))
                despesa = await DespesaHospedagemService.AtualizarDespesa(Despesa);

            if (despesa.IsSuccess) await FecharFormulario();
            else await JSRuntime.InvokeVoidAsync("alert", despesa.Error);
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("alert", ex.Message + "\n" + DespesaHospedagemService.Mensagem);
        }
    }
}
